@charset "UTF-8";

@font-face {
    font-family: 'Fredoka-Bold';
    src: url(fonts/static/Fredoka-Light.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root{
    --cor1: #1B1B1E;
    --cor2: #ffffff;
    --cor3: #FBFF12;
    --cor4: #F08700;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: var(--cor2);
    height: 100vh; 
}

header.cabecalho-principal{
    height: 40vw;
    background-color: var(--cor1);
    background-image: url('imagens/planet.jpg');
    background-size: cover;
    background-position: center top;
    position: relative;
}

header.cabecalho-principal h1{
    color: var(--cor2);
    font-family: 'Fredoka-Bold';
    font-size: 10vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 5%); 
}

nav.menu-principal{ 
    background-color: var(--cor4);
    height: 5vh; 
    margin: auto;
    text-align: center; 
    padding-top: 2vw;
    padding-bottom: 2vw; 
}

nav a{
    font-size: 2vw; 
    text-decoration: none;
    color: var(--cor2);
    font-family: 'Fredoka-Bold';
    font-weight: bold;
    padding:0% 3vw;     
    margin:10px;
}

nav a:hover, footer a:hover{
    color: var(--cor3);
    background-color: var(--cor1);
    font-weight: bolder;
    border-radius: 5px;
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
}

section.secao-texto p{
    font-family: 'Fredoka-Bold';
    font-size: 2.5vw;
    color: var(--cor1);
    text-align: center;
    padding: 5vw 10vw;
}

section.secao-imagem{
    padding-top: 40vh;
    padding-bottom: 40vh;
    background-image: url('imagens/sun.jpg');
    background-size: cover;
    background-position: center left;
    background-attachment: fixed;
}

footer{
    background-color: var(--cor1);
    color: var(--cor2);
    text-align: center;
    padding: 1vw;
    font-family: 'Fredoka-Bold';
}

footer a{
    color: var(--cor3);
    text-decoration: none;
    font-weight: bold;
}